<ul class="list-group list-group-flush">
    {% for item in list.items %}
    <li class="list-group-item">
        <div class="view-mode">
            <div class="row">
                <div class="col">
                    <span class="item-description">{{ item.description }}</span>
                </div>
                <div class="col-auto">
                    <div>
                        <button class="btn btn-light text-primary btn-sm edit-button"><i
                                class="bi bi-pencil"></i></button>
                        <button class="btn btn-light text-danger btn-sm delete-button"
                            hx-post="{{ url_for('delete_item', item_id=item.id) }}" hx-target="#tasks{{ list.id }}"
                            hx-swap="innerHTML"><i class="bi bi-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <form class="edit-mode d-none">
            <div class="row">
                <div class="col">
                    <input type="text" name="description" class="form-control" value="{{ item.description }}">
                </div>
                <div class="col-auto">
                    <button class="btn btn-light text-primary btn-sm save-button"
                        hx-post="{{ url_for('edit_item', item_id=item.id) }}" hx-target="#tasks{{ list.id }}"
                        hx-swap="innerHTML" hx-params="description"><i class="bi bi-save-fill"></i></button>
                    <button type="button" class="btn btn-light text-secondary btn-sm cancel-button"><i
                            class="bi bi-x"></i></button>
                </div>
            </div>
        </form>
    </li>
    {% endfor %}
</ul>

<script>
    document.querySelectorAll('.edit-button').forEach((button) => {
        button.addEventListener('click', (event) => {
            const itemElement = event.target.closest('li');
            itemElement.querySelector('.view-mode').classList.add('d-none');
            itemElement.querySelector('.edit-mode').classList.remove('d-none');
        });
    });

    document.querySelectorAll('.cancel-button').forEach((button) => {
        button.addEventListener('click', (event) => {
            const itemElement = event.target.closest('li');
            itemElement.querySelector('.view-mode').classList.remove('d-none');
            itemElement.querySelector('.edit-mode').classList.add('d-none');
        });
    });
</script>